.side_bar {
    width: 60px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #A47764;
    border-right: 1px solid #5F4033;
}

.s_svg {
    width: 30px;
    height: 30px;
}

.side_bar_top .btn,
.side_bar_bottom .btn {
    width: 100%;
    height: 50px;
    display: flex;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.btn:hover .s_svg {
    filter: invert(1%) saturate(4500%) hue-rotate(0deg) brightness(33%) contrast(100%);
}

.btn.active .s_svg {
    filter: invert(1%) saturate(4500%) hue-rotate(0deg) brightness(33%) contrast(100%);
}
